*{box-sizing: border-box;}

.gradient {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 400px;
    background-color: rgba(211, 64, 211, 0.308);
    z-index: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #e0d9d975 0px 0px 7px 5px;


}

  .title{
    text-align: center;
    color: #6b97f7;
    margin-top: -4rem;
    font-size: 3rem;
    font-family: Arial, sans-serif; 
    border-bottom: 2px solid;
  }
  .input-container {
    margin-top: 2rem;
    display: flex;
    background: white;
    border-radius: 1rem;
    background: linear-gradient(135deg, #bccbce8c 0%, #f07dddc4 100%);
    width: 70%;
    padding: 0.3rem;
    gap: 0.3rem;
  }
  
  .input-container input {
    border-radius: 0.8rem 0 0 0.8rem;
    background: #e8e8e8;
    box-shadow: inset 13px 13px 10px #dcdcdc,
              inset -13px -13px 10px #f4f4f4;
    width: 100%;
    flex-basis: 75%;
    padding: 1rem;
    border: none;
    border-left: 2px solid #4998FF;
    color: #5e5e5e;
    transition: all 0.2s ease-in-out;
    
  }
  
  .input-container input:focus {
    border-left: 2px solid #4998FF;
    outline: none;
    box-shadow: inset 13px 13px 10pxlinear-gradient(135deg, #bccbcea1 0%, #f07dddc4 100%);
  }
  
  .input-container button {
    flex-basis: 25%;
    padding: 1rem;
    background: linear-gradient(135deg, #bccbce69 0%, #f07dddc4 100%);
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: white;
    border: none;
    width: 100%;
    border-radius: 0 1rem 1rem 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background: linear-gradient(135deg, #bccbce8c 0%, #f07dddc4 100%);
  }
  
  @media (max-width: 500px) {
    .input-container {
      flex-direction: column;
    }
  
    .input-container input {
      border-radius: 0.8rem;
    }
  
    .input-container button {
      padding: 1rem;
      border-radius: 0.8rem;
    }
    .title{
      font-size: 1.5rem;
    }
  }  @media (max-width: 800px) {
    .input-container {
      flex-direction: column;
    }
    .container{
        width: 80%;
    }
  
    .input-container input {
      border-radius: 0.8rem;
    }
  
    .input-container button {
      padding: 1rem;
      border-radius: 0.8rem;
    }
    .title{
      font-size: 1.5rem;
    }
  }

  .result {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #6b97f7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 5;
  }


  @media (max-width: 350px) {
  
    .title{
      font-size: 1rem;
    }
    .input-container button {
        padding: 1rem;
        border-radius: 0.8rem;
        font-size: 0.6rem;
      }
  }


  .result p {
    cursor: pointer;
  }
  .mensaje-copiado {
    position: absolute;
    bottom: 6;
    right: 0;
    background-color: rgba(232, 50, 238, 0.8);
    color: rgba(255, 255, 255, 0.541);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 9999;
  }
  